<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
    <!-- light pro css -->
    <link rel="stylesheet" href="../css/light.pro.min.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
    <!-- common css -->
    <link rel="stylesheet" href="../css/common.css">
    <!-- main css -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- search component -->
    <label class="search-wrapper" for="">
        <input placeholder="Search.." class="input-control" type="text">
        <span class="search-icon-wrapper">
            <i class="fas fa-search"></i>
        </span>
    </label>
</body>
</html>