@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root{
    --prmaryColor:rgba(255, 84, 33, 1);
    --secondaryColor:rgba(13, 13, 13, 1);
    --inputBg:rgba(13, 13, 13, .09);
    --bodyTextColor:rgba(13, 13, 13, .8);
    --placeholderColor:rgba(13, 13, 13, .5);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
input, button{
    outline: none;
    border:none;
    background-color: transparent;
      
}
input::placeholder{
    color:var(--placeholderColor);
    font-weight: 600;
    font-size: 14px;
}
/* input field */
.input-control {
    width: 100%;
    height: 45px;
    padding: 0 10px;
    background-color: var(--inputBg);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    color:var(--bodyTextColor)
}
/* search item */
.search-wrapper {
    position: relative;
    display: block;
}
.search-wrapper .input-control {
   padding-left:45px;
}
.search-icon-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.search-icon-wrapper svg{
   width: 15px;
   height:15px;
}
.search-icon-wrapper svg path{
 fill:var(--bodyTextColor)
}

/* nav */
.nav {
    display: flex;
    align-items: center;
    gap: 0 30px;
}
.nav-link {
    display: inline-block;
    color: var(--secondaryColor);
}
.showMobileMenu {
    display: block !important;
    background: #fff;
    position: absolute;
    width: 100%;
    top: 67px;
}
.showMobileMenu .nav {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: flex-start;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.nav-item {
    width: 100%;
    padding-bottom: 12px;
}
.showMobileMenu .nav .nav-item:not(:last-child) {
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(30,39,46,.1);
}

.showRightNav{}
.showRightNav.header-right-nav-left {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    top: 67px;
    padding: 30px;
    gap: 40px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}


/* button*/
.common-button {
    display: inline-block;
    padding: 14px 26px;
    background: var(--prmaryColor);
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 3px;
}

.section-padding{
    padding: 50px 0;
}

@media(min-width:575px){}
@media(min-width:768px){
    .section-padding{
        padding: 80px 0;
    }
}
@media(min-width:992px){}
@media(min-width:1200px){
    .section-padding{
        padding: 100px 0;
    }
}
@media(min-width:1400px){}