@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root{
    --prmaryColor:rgba(38, 178, 253, 1);
    --secondaryColor:rgba(13, 13, 13, 1);
    --inputBg:rgb(0, 92, 159, .05);
    --bodyTextColor:rgba(13, 13, 13, .8);
    --placeholderColor:rgba(13, 13, 13, .5);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    color: var( --bodyTextColor);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
input, button{
    outline: none;
    border:none;
    background-color: transparent;
      
}
input::placeholder{
    color:var(--placeholderColor);
    font-weight: 600;
    font-size: 14px;
}
/* input field */
.input-control {
    width: 100%;
    height: 45px;
    padding: 0 10px;
    background-color: var(--inputBg);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    color:var(--bodyTextColor)
}
/* search item */
.search-wrapper {
    position: relative;
    display: block;
}
.search-wrapper .input-control {
   padding-left:45px;
}
.search-icon-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.search-icon-wrapper svg{
   width: 15px;
   height:15px;
}
.search-icon-wrapper svg path{
 fill:var(--bodyTextColor)
}

/* nav */
.nav {
    display: flex;
    align-items: center;
    gap: 0 30px;
}
.nav-link {
    display: inline-block;
    color: var(--prmaryColor);
}
.showMobileMenu {
    display: block !important;
    background: #fff;
    position: absolute;
    width: 100%;
    top: 67px;
    z-index: 1;
}
.showMobileMenu .nav {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: flex-start;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.nav-item {
    width: 100%;
    padding-bottom: 12px;
}
.showMobileMenu .nav .nav-item:not(:last-child) {
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(30,39,46,.1);
}

.showRightNav.header-right-nav-left {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    top: 67px;
    padding: 30px;
    gap: 40px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    z-index: 1;
    background-color: #fff;
}


/* button*/
.common-button, .find-course-btn {
    display: inline-block;
    padding: 12px 25px;
    background: var(--prmaryColor);
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 3px;
}
.find-course-btn {
    background: rgb(4, 94, 160, .4);
}
.section-padding{
    padding: 50px 0;
}
.card-hover{
   transition: all 0.3s;
   background: transparent !important;
   position: relative;
   z-index:9;
}
.card-hover:hover{
    box-shadow: 0 11px 61.1px 3.9px rgb(34, 34, 34, .09)!important;
    background: #fff !important;
}
.card-hover:hover .hover-grid-icon{
    opacity: 1;
}
.hover-grid-icon{
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0;
    transition: all .3s;
}

.btn-hover{
    position: relative;
    padding: 12px 25px;
   overflow: hidden;
}
.btn-hover::after{
   content: "";
   position: absolute;
   left:-100%;
   top:0;
   background: var(--prmaryColor);
   width: 100%;
   height: 100%;
    transition: 1s;
}

/* start title text */
.title-text {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-transform: capitalize;
}

.sub-title-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
/* end title text */
.btn-hover:hover::after{
   left:100%;
   transition: 1s;
}
@media(min-width:575px){}
@media(min-width:768px){
    .section-padding{
        padding: 80px 0;
    }
}
@media(min-width:992px){}
@media(min-width:1200px){
    .section-padding{
        padding: 100px 0;
    }
}
@media(min-width:1400px){}