/* 
=========================
    start header css
=========================
*/
.header-section {
    padding: 15px 0;
}
.header-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.header-logo-area{
    width: 170px;
}
.logo-size{
    width: 140px;
}
/* header right content */
.header-right-content {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: calc(100% - 170px);
    align-items: center;
}
.header-right-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
.header-cart-wrapper, .header-wishlist-wrapper {
    display: flex;
}
.header-cart-wrapper i, .header-wishlist-wrapper i{
    color: var(--primaryColor);
}
.sub-nav{
    position: absolute;
    opacity: 0;
}

.signin-button {
    display: none;
}
.signin-button-sm i{
    font-size: 20px;
}
.header-right-nav-left {
    display: flex;
    align-items: center;
    gap: 0 20px;
}
.header-middle-nav {
    display: none;
}
.header-right-nav-left{
    display: none;
}
.header-search{
    display: none;
}
.toggle-icon-line{
    width:25px;
    height: 2px;
    background-color: var(--secondaryColor);
    margin-bottom: 4px;
  
}
.toggle-icon-line:nth-child(1){
  
}
.toggle-icon-line:nth-child(2){
  
}
.toggle-icon-line:nth-child(3){
    margin-bottom:0px
}
.signin-or-signup-wrapper {
    display: flex;
    align-items: center;
    gap: 0 36px;
}
#clickHeaderRightNav{
    width: 30px;
    padding: 5px;
    display: block;
}
/* 
=========================
    end header css
=========================
*/

/* 
=========================
    start banner  css
=========================
*/
.banner-section{
    background:url(../images/banner/header-hero-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 250px 0;
    position: relative;
}
.banner-section::after{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top:0;
    height: 100%;
    background: rgba(255,255,255,.5);
}
.banner-content{
    position: relative;
    z-index:1;
}
.banner-leaning-platform p {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
}
.banner-course-heading {
    margin: 16px 0;
}
.banner-course-heading p {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1px;
}
.banner-course-heading p a {
    display: inline-block;
    text-decoration: underline;
    color: var(--primaryColor);
}

/* .banner-description p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
} */
.banner-button {
    margin-top: 20px;
    display: flex;
    gap: 10px 17px;
    align-items: center;
    flex-wrap: wrap;
}


/* 
=========================
    end banner  css
=========================
*/

/* 
=========================
   start about  css
=========================
*/
.top-about-section{
    background:#f8f8f8;
    position: relative;
    overflow: hidden;
}
.padding-15:last-child{
    padding-bottom: 0px;
}
.about-top-icon i{
    font-size: 50px;
    color:var(--primaryColor);
    opacity: .7;
}
.about-top-count{
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: var(--secondaryColor);
    margin-bottom: 8px;
}
.about-top-item-title{
    font-size: 17px;
    font-weight: 400;
   line-height: 25px;
}
.about-top-icon {
    margin-bottom: 15px;
}
.item-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}
/* line curve */
.about-top-animation-line-img-area, .about-top-animation-img-area, .about-top-animation-round-img-area {
  display: none;
}


/* bottom about */
.about-bottom-title {
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.about-bottom-title:before {
    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    width: 73px;
    height: 10px;
    background-image: url(../images/about/section-title-shape.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    animation: horizontalShapeRide 4s infinite linear;
}
@keyframes horizontalShapeRide{
    0%{
        left:0px
    }
    50%{
        left:50px
    }
    100%{
        left:0px
    }
}
.accordion-wrapper{
    margin-top: 50px;
}
.aobut-img-1{
    margin-bottom: 25px;
}
.aobut-img-1 img{
    width: 100%;
    height: 250px;
}

.aobut-img-2 img{
    width: 100%;
    height: 250px;
}
/* 
=========================
   end about  css
=========================
*/


/* 
=========================
   start course  css
=========================
*/
.info-item {
    font-size: 14px;
    font-weight: 500;
    color:rgba(13, 13, 13, .7)
}
.course-img-area{
    position: relative;
}
.info-item i{
    margin-right: 5px;
}
.course-name-wrap {
    margin: 20px 0;
}
.course-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}
.course-price {
    font-size: 20px;
    font-weight: 700;
    color: var(--primaryColor);
}
/* 
=========================
   end course  css
=========================
*/

@media(min-width:575px){}
@media(min-width:768px){
    .aobut-image-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .aobut-img-1{
        width: calc(50% - 15px);
    }
    .aobut-img-1 img, .aobut-img-2 img{
        width: 100%;
        height: 250px;
    }
    .aobut-img-2 img{
        width: 350px;
        height: 250px;
    }
}
@media(min-width:992px){
   /* line curve */
.about-top-animation-line-img-area {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    display: block;
}
/* small multiple animation line */
.about-top-animation-img-area{
   position: absolute;
   right:20px;
   bottom: 50px;
   display: block;
       
}
.about-top-animation-img{
    animation: aboutImgAnimation 3s infinite linear;

}
@keyframes aboutImgAnimation{
    0%{
        transform: scale(.8,.8);
    }
    50%{
        transform: scale(1,1);
    }
    100%{
        transform: scale(.8,.8);
    }
}

/* roun image */

.about-top-animation-round-img-area {
    position: absolute;
    top: -180px;
    right: 37px;
    transform: rotate(-35deg);
    display: block;
}
}
@media(min-width:1200px){
    .header-middle-nav {
        display: block;
    }
    .header-right-nav-left {
        display: flex;
    }
    
    .signin-button {
        background: var(--primaryColor);
        padding: 12px 25px;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        letter-spacing: 1px;
        display: block;
        border-radius: 3px ;
    }
    .signin-button-sm{
        display: none;
    }
    .header-search{
        display: block;
    }
    .header-right-content {
        justify-content: space-between;
    }
    .toggle-icon-wrapper{
        display: none;
    }
    .signin-or-signup-wrapper {
        display: unset;
        align-items: unset;
        gap: unset;
    }
    #clickHeaderRightNav{
        display: none;
    }
    .nav-item {
        padding-bottom: 0px;
    }
}